/*
    Document   : css/comesa.css
    Created on : 2014-03-23 05:42 PM
    Author     : saraygutierrez
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

body {
    background-image: url('../img/sitio/bg.png');
    background-repeat: repeat-x;
    background-color: #ededed;
}
root {
    display: block;
}

.anuncios-abajo {
    text-align:center;
}

.anuncios-abajo img {
    width:160px;
    height:80px;
}

.anuncios-abajo img {
    margin:11px;
}

.anuncio-lateral {
    margin-bottom:1em;
    max-width:220px;
    width:100%;    
}

.amarillo {
    color:#e2a438;
}

.blanco {
    color:white;
}

.container {
    max-width:960px;
}

.contenido {
    
}

.encabezado-interno img {
    width:100%;
}

.facebook {
	display: block;
    float:right;
    margin:6px;
	width: 32px;
	height: 32px;
	background: url('../img/sitio/facebook.png') bottom;
	text-indent: -99999px;
}
.facebook:hover {
	background-position: 0 0;
}

.flickr {
	display: block;
    float:right;
    margin:6px;
	width: 32px;
	height: 32px;
	background: url('../img/sitio/flickr.png') bottom;
	text-indent: -99999px;
}
.flickr:hover {
	background-position: 0 0;
}

.footer-white {
    color:#858585;
    font-size:0.8em;
    background-color:white;
    box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    border-radius:0 0 6px 6px;
    border-top: solid 3px #3583c1; 
    padding:0 2em 1em 2em;
}

.head_comesa {
    width:100%;
}

.menu-footer {
    text-align:center;
}

.menu-top{
    background-color:#3583c1;
    padding:7px 6px;
    font-size:0.7em;
    color:white;
    margin:0;
    text-align:right;
}

.menu-top a{
    color:white;
    padding:8px 5px;
    text-decoration:none;
}

.menu-top a:hover{
    background-color:#1b4d8c;
}
.nav {
    font-size:0.9em;
   
}

.navbar {
    border-top: solid 3px #3583c1;  
    box-shadow:1px 3px 3px #bbbbbb;
}

.oficinas {
    text-align:center;
    padding:1em;
}

.oficinas img {
    border:solid 3px #3583c1;
}

.precio {
    text-align:center;
    color:#324d87;
}

.precio-detalles {
    font-size:0.8em;
    text-align:center;
}

.dropdown-menu {
    font-size:0.9em;
}

.red {
    color:red;
}
.sener {
    width:100%;
}


.twitter {
	display: block;
    float:right;
    margin:6px;
	width: 32px;
	height: 32px;
	background: url('../img/sitio/twitter.png') bottom;
	text-indent: -99999px;
}
.twitter:hover {
	background-position: 0 0;
}

.whitebg {
    background-color:white;
    margin-top:-10px;
    margin-bottom:-5px;
    padding-top:0;
    padding-bottom:0;
}

.white {
    background-color:white;
    box-shadow:1px 1px 1px rgba(0,0,0,0.3);
    padding: 1em;
}

.youtube {
	display: block;
    float:right;
    margin:6px;
	width: 32px;
	height: 32px;
	background: url('../img/sitio/youtube.png') bottom;
	text-indent: -99999px;
}
.youtube:hover {
	background-position: 0 0;
}

